#payment{
    display: flex;
    height: 100%;
    flex-direction: column;
    .header {
        .payment-title {
            padding: .333333rem/* 25/75 */
            .426667rem/* 32/75 */
            ;
            font-size: .506667rem/* 38/75 */
            ;
            margin-bottom: .266667rem/* 20/75 */
            ;
            display: flex;
            justify-content: space-between;
            li:nth-child(2) {
                font-weight: bold;
            }
        }
    }
    .main{
        flex:1;
        padding-top: .266667rem/* 20/75 */;
        background: #fafafa;
        .success{
           background: #fff;
           text-align:center;
           font-size: .426667rem /* 32/75 */;
           line-height: .64rem /* 48/75 */;
           padding:.906667rem /* 68/75 */ 0;
           font-weight:bold; 
        }
        .paymentInf{
            border-top: .013333rem /* 1/75 */ #ccc solid;
            border-bottom: .013333rem /* 1/75 */ #ccc solid;
            background: #fff;
            padding: 0 .426667rem /* 32/75 */;
            font-size: .346667rem /* 26/75 */;
            line-height: 1.226667rem /* 92/75 */;
            margin-bottom: .266667rem /* 20/75 */;
            .payNum{
                border-bottom: .013333rem /* 1/75 */ solid #ccc;
            }
        }
        .payMethods{
            background: #fff;
            padding:0 .426667rem /* 32/75 */;
            border-top: .013333rem/* 1/75 */#ccc solid;
            border-bottom: .013333rem/* 1/75 */#ccc solid;

            p{
                font-size: .346667rem /* 26/75 */;
                line-height: 1.226667rem /* 92/75 */;
            }
        }


    }

    .footer{

    }

}