body,html{
    height: 100%;
}
#app{height: 100%;}
#homepage{
    background:#F2F2F2;
    height: 100%;
    display: flex;
    flex-direction: column;
#header{
    .head{
        display:fiex;
        height:1.173333rem;
        background-color:#fff;
        .head_left{
            display: flex;
            height: 1.173333rem;
            padding-left:.4rem;
            padding-top:.186667rem;
            input{
                padding-left:.266667rem;
                width:7.333333rem;
                height:.8rem;
                background:#EBEBEB;
                color:#B2B4B6;
                border-radius:.373333rem;
                font-size:.373333rem;
            }
            .buycar{
                flex:1;
                display:flex;
                color: #b2b4b6;
                text-align:center;
                padding-left:20px;
                a{
                    text-align:center;
                    i{
                        width: 50%;
                        font-size: 60px;
                    }
                }
            }
        }
    }
}
/*--------------main------------*/
main{
    flex:1;
    overflow-y:auto;
    #carousel_home{height:5.093333rem;position:relative;overflow:hidden;
        img{width: 100%;}
        .slick-dots{height: 0.066667rem;position:absolute;left:50%;transform:translateX(-50%);bottom:4%;
            li{margin:0 0.3rem;float: left;width:0.266667rem;height:0.066667rem;background:white;}
            .slick-active{background:black;}
        }
    }
    #safeguard{margin-bottom: 0.266667rem; ul{display:flex;justify-content: space-between;background:#FEFEFE;}li{float:left;color:#757575;height:0.906667rem;flex:1;text-align:center;line-height:0.906667rem;font-size:22px;.fa{color:#FF3C3C;}}}
    #brand{padding:0 0.266667rem 0.533333rem 0.266667rem;background:#FEFEFE;
        header{display:flex;height: 1.28rem;justify-content: space-between;line-height:1.28rem;}
        span:first-child{font-size:32px;font-weight:600;flex:1;}
        span:last-child{text-align:right;color:#757575;font-size:22px;flex:1;.fa{color:#AFAFAF;font-size:20px;font-weight:100;}}
        section{
            display:flex;
            div{
                flex:1;
            }
            .brand_r{display:flex;flex-direction: column;margin-left: 0.24rem;
                img{flex:1;}
            }
        }
    }
    #newGoods{padding:0 0.266667rem 0.4rem 0.266667rem;background:#FEFEFE;margin-top:0.266667rem;
        header{display:flex;height: 1.28rem;justify-content: space-between;line-height:1.28rem;}
        span:first-child{font-size:32px;font-weight:600;flex:1;}
        span:last-child{text-align:right;color:#757575;font-size:22px;flex:1;.fa{color:#AFAFAF;font-size:20px;font-weight:100;}}   
        ul{height:4.8rem;text-align:center;line-height: 0.666667rem;font-size:22px;display:flex;overflow:hidden;img{width:3.6rem;height:3.6rem;}
            li{flex:1;margin-right:0.266667rem;}
            .p1{font-size:26px;}
            .p2{color:red;font-size:24px;} 
        }
    }
    #goodsShow1{padding:0 0.373333rem;background:#FEFEFE;margin-top: 0.266667rem;
        .gs_p1{font-size:36px;height:1.333333rem;text-align:center;font-weight:600;line-height: 1.333333rem;}
        ul{display:flex;flex-wrap:wrap;justify-content: space-between;
            li{width:48%;margin-bottom: 0.266667rem;
                img{width:100%;height:4.5rem;}
                .p1{line-height: 0.64rem;font-weight:500;font-size:24px;height:0.64rem;margin-top: 0.133333rem; }
                .p2{line-height: 0.64rem;font-size:24px;color:#C8C7BD;height:0.64rem;}
                .p3{line-height: 0.666667rem;font-size:24px;color:#FF4646;height: 0.666667rem;}
            }
        }
    }
    #goodsShow2{
        @extend #goodsShow1;
    }
    #end{height:1.1rem;background:#FE4365;text-align:center;color:white;font-weight:100;font-size:26px;.fa{color:black;}border-radius:0.23rem;margin-bottom: 1.306667rem;}
}
/*-----------footer--------------*/
#footer{
    
    p{height:1.306667rem;}
}
}