html,body{height: 100%;}
#listBox{
    display:flex;
    flex-direction:column;
    height: 100%;
    width: 100%;
    .search_box{
        height: 1.173333rem;
        padding-left:.4rem;
        padding-top:.186667rem;
        input{
            padding-left:.266667rem;
            width:7.333333rem;
            height:.8rem;
            background:#EBEBEB;
            color:#B2B4B6;
            border-radius:.373333rem;
            font-size:.373333rem;
        }
    }
    .listMain{
        flex:1;
        display: flex;
        overflow-x:hidden;
        .listMain_l{
            width: 2.026667rem;
            height: 100%;
            .blankBox{
                width:1.333333rem;
                height:.4rem;
            }
            .listNav{
                // position:fixed;
                height: 100%;
                border-right:.013333rem solid #666;
                font-size:.32rem;
                
                li{
                    position: relative;
                    display:block;
                    width:2.026667rem;
                    height:1.333333rem;
                    line-height:1.333333rem;
                    text-align:center;
                    a{
                       color:#333; 
                    }
                }
                li:hover{
                    i{
                        display:inline-block;
                        width:.16rem;
                        height:.16rem;
                        background:#111;
                        position: absolute;
                        left:0;top:45%;
    
                    }
                    font-size:.373333rem;
                    
                    a{
                        color:#000;
                        font-weight: bold;
                    }
                }
                
            }
        }
        .list_img{
            // flex:1;
            display:flex;
            height: 100%;
            flex-direction: column;
            ul{
                flex:1;
                li{
                    overflow-x:hidden;
                }
            }
        }
    }
}