#addAdd {
    display: flex;
    height: 100%;
    flex-direction: column;

  .header {
        .addAdd-title {
            padding: .333333rem/* 25/75 */.426667rem/* 32/75 */;
            font-size: .506667rem/* 38/75 */;
            margin-bottom: .266667rem/* 20/75 */;
            display: flex;
            justify-content: space-between;
            li:nth-child(2) {
                font-weight: bold;
            }
        }
    }

    .main{
        flex:1;
        padding:.333333rem /* 25/75 */ .426667rem /* 32/75 */;
        font-size:.426667rem /* 32/75 */;
        line-height: 1.333333rem /* 100/75 */;
        .Information{
            margin-bottom: .266667rem /* 20/75 */;
            p{
                
                display: flex;
                justify-content: space-between;
                input{
                    font-size: .426667rem /* 32/75 */;
                }
            }

        }
        .city{
            select{
                width: 2rem /* 150/75 */;
                height: .666667rem /* 50/75 */;
                font-size: .32rem /* 24/75 */;
                option{
                    font-size: .16rem /* 12/75 */;
                }
            }
        }

        .textareaAdd {
            textarea {
            width: 100%;
            height: 2.666667rem/* 200/75 */;
            padding: .2rem /* 15/75 */; 
            font-size: .373333rem /* 28/75 */;  
            border: .013333rem/* 1/75 */solid #ccc;
            }
        }


    }

    .footer {
      font-size: .453333rem/* 34/75 */
      ;
      line-height: 1.173333rem/* 88/75 */
      ;
      text-align: center;
      background: #ff5541;
      color: #fff;
    }

}
