


#Obox{
    padding-top:20px;
    margin-top:10px;
    margin-left: 50px;
}

#Obox p{margin-top:10px;}

#Obox input{
    display: inline-block;
}

#Obox #btn_save{
    margin-left: 27%;
}

#Obox h3{
    font-weight:bold;
    line-height:28px;
}