

   @font-face {
     font-family: "ifont";
     src: url('../font/iconfont.eot');
     /* IE9*/
     src: url('../font/iconfont.eot#iefix') format('embedded-opentype'),
     /* IE6-IE8 */

     url('../font/iconfont.woff') format('woff'),
     /* chrome, firefox */

     url('../font/iconfont.ttf') format('truetype'),
     /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/

     url('../font/iconfont.svg#iconfont') format('svg');

     /* iOS 4.1- */
   
}

.ifont {
  font-family:"ifont" !important;
  font-size:16px; 
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ibiji:before { content: "\e61e"; }

.izhifubao:before { content: "\e64b"; }

.idagouyouquan:before { content: "\e630"; }

.i24:before { content: "\e6af"; }

.iweixinzhifu:before { content: "\e639"; }

